* {
  margin: 20px;
  padding: auto;
  box-sizing: border-box;
}
body {
  text-align: center;
  border-bottom: 10px solid rgb(62, 104, 182);
  font-family: sans-serif;
  /* position: relative; */
  height: 100%;
  width: 100%;
  /* background-color: #cfbaf0; */
}
.contaier {
  /* margin: 0 auto; */
  position: relative;
  /* padding: 30px; */
}
.hana {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}
.num {
  position: absolute;
  right: 100px;
  top: 1900px;
}
.k-img {
  width: 500px;
  height: auto;
}
h1 {
  color: cornflowerblue;
  font-size: 50px;
  font-weight: bold;
  font-family: Anurati;
}
p {
  font-size: 20px;
  color: #191631;
  font-weight: bold;
  text-align: center;
}
article {
  margin-top: 30px;
  margin: 0 120px;
}
h2 {
  font-size: 30px;
  color: rgb(62, 104, 182);
  background-color: rgb(255, 255, 227);
  font-family: Anurati;
}
ul {
  padding: 0 50px;
  margin: 0 20px;
  text-align: center;
}
h3 {
  margin-top: 80px;
  font-size: 30px;
  color: rgb(62, 104, 182);
  background-color: rgb(255, 255, 227);
  font-family: Anurati;
}
.set-img {
  top: 530px;
  right: 250px;
  position: absolute;
  border: 2px solid black;
}
.hangul-img {
  /* position: relative; */
  right: 60px;
  top: -30px;
}
a:link {
  color: #5d54b3;
  text-decoration: none;
  font-size: 30px;
  padding: 20px 20px;
}
.l {
  display: inline-block;
  text-align: center;
}
a:visited {
  color: slateblue;
}
a:hover {
  color: #3a26e8;
  font-weight: bold;
  text-decoration: underline #3a26e8;
}
footer {
  font-size: 15px;
  font-weight: bold;
  /* border-bottom: 12px solid rgb(62, 104, 182); */
}
.words {
  font-size: 30px;
  font-weight: bold;
  font-style: initial;
  padding: 60px 100px;
}
ul li {
  color: rgb(0, 0, 1);
  text-align: left;
}
.op {
  text-align: left;
  top: -290px;
  right: -700px;
  /* position: relative; */
}
.c {
  font-size: 30px;
  text-align: center;
  color: cornflowerblue;
  font-family: Anurati;
  background-color: rgb(255, 255, 227);
  display: block;
}
